.gallery {
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 20px;
    column-gap: 17px;
    margin-top: 51px;
}

@media screen and (max-width: 320px) {
    .gallery {
      max-width: 282px;
      margin-top: 36px;
      margin: auto;
    }
  }